Repository jieulkim/okkul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-be, build-fe, build-ai

deploy-be:
  stage: build
  image: eclipse-temurin:21-jdk-alpine
  tags:
  - aws-ec2
  before_script:
  - apk update
  - apk add --no-cache docker docker-cli-compose
  - chmod +x be/gradlew
  script:
  - echo "Backend ì´ë¯¸ì§€ ë¹Œë“œ..."
  - cd be
  - ./gradlew test
  ...

build-fe:
  stage: build
  image: docker:26-cli
  tags:
  - aws-ec2
  script:
  - echo "âš›ï¸ Frontend ë¹Œë“œ ì‹œì‘..."
  - cd fe
  - docker build -t frontend:$CI_COMMIT_REF_SLUG .

build-ai:
  stage: build
  image: docker:26-cli
  tags:
  - aws-ec2
  script:
  - echo "ğŸ¤– AI Server ë¹Œë“œ ì‹œì‘..."
  - docker build -t ai:$CI_COMMIT_REF_SLUG ./ai

[FE] 전체 디자인 리팩토링
  fe/src/App.vue
  fe/src/assets/global-styles.css
  fe/src/components/common/Navbar.vue
  fe/src/components/common/SurveySelectModal.vue
  fe/src/main.js
  fe/src/router/index.js
  fe/src/views/auth/LoginView.vue
  fe/src/views/auth/OAuth2Redirect.vue
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/exam/ExamView.vue
  fe/src/views/exam/SetupView.vue
  fe/src/views/feedback/ExamFeedbackView.vue
  fe/src/views/feedback/FeedbackListView.vue
  fe/src/views/feedback/PracticeFeedbackView.vue
  fe/src/views/main/HomeView.vue
  fe/src/views/mypage/MyPageView.vue
  fe/src/views/practice/PracticeQuestionView.vue
  fe/src/views/practice/PracticeView.vue
  fe/src/views/survey/SurveyLevelView.vue
  fe/src/views/survey/SurveyView.vue
Due: build-fe

[BE] feat: 모의고사 히스토리 API 구현
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamAnswer.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamAnswerFeedback.java
  be/src/main/java/site/okkul/be/domain/exam/repository/ExamAnswerJpaRepository.java
  be/src/main/java/site/okkul/be/domain/exam/repository/ExamJpaRepository.java
  be/src/main/java/site/okkul/be/domain/exam/repository/ExamReportJpaRepository.java
  be/src/main/java/site/okkul/be/domain/exam/service/AiAnalysisService.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
  be/src/main/java/site/okkul/be/domain/history/.gitkeep
  be/src/main/java/site/okkul/be/domain/history/controller/HistoryController.java
  be/src/main/java/site/okkul/be/domain/history/docs/HistoryControllerDocs.java
  be/src/main/java/site/okkul/be/domain/history/dto/ExamAnswerResponse.java
  be/src/main/java/site/okkul/be/domain/history/dto/ExamHistoryDetailResponse.java
  be/src/main/java/site/okkul/be/domain/history/dto/ExamHistorySummary.java
  be/src/main/java/site/okkul/be/domain/history/dto/ExamReportResponse.java
  be/src/main/java/site/okkul/be/domain/history/service/HistoryService.java
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionSetController.java
  be/src/main/java/site/okkul/be/domain/qustion/repository/QuestionSetRepository.java
Due: deploy-be

[BE] fix: 중복 API 제거
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/docs/ExamControllerDocs.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
Due: deploy-be

[BE] feat: 스태시 내용 복구 완료
  be/src/main/java/site/okkul/be/domain/history/controller/HistoryController.java
  be/src/main/java/site/okkul/be/domain/history/docs/HistoryControllerDocs.java
  be/src/main/java/site/okkul/be/domain/history/dto/PracticeHistoryDetailResponse.java
  be/src/main/java/site/okkul/be/domain/history/dto/PracticeHistorySummary.java
  be/src/main/java/site/okkul/be/domain/history/service/HistoryService.java
Due: deploy-be

[FE] 닉네임 오류 수정
  fe/src/components/common/Navbar.vue
  fe/src/stores/auth.js
  fe/src/views/main/HomeView.vue
  fe/src/views/mypage/MyPageView.vue
Due: build-fe

[FE] 모의고사 연결 수정
  fe/src/views/exam/ExamView.vue
Due: build-fe

[AI] feat: 모의고사 피드백 API
  ai/feedback/__pycache__/exam_feedback.cpython-312.pyc
  ai/feedback/__pycache__/main.cpython-312.pyc
  ai/feedback/exam_feedback.py
  ai/feedback/exam_test.py
  ai/feedback/main.py
Due: build-ai

[AI] fix: modify API docs
  ai/feedback/__pycache__/exam_feedback.cpython-312.pyc
  ai/feedback/__pycache__/main.cpython-312.pyc
  ai/feedback/exam_feedback.py
  ai/feedback/main.py
Due: build-ai

[BE] feat: prod, dev, cicd 프로필과 X-Use-Real-AI 헤더로 AI 서버 사용 분기 처리
  be/src/main/java/site/okkul/be/domain/practice/controller/PracticeController.java
  be/src/main/java/site/okkul/be/domain/practice/docs/PracticeControllerDocs.java
  be/src/main/java/site/okkul/be/domain/practice/entity/Practice.java
  be/src/main/java/site/okkul/be/domain/practice/service/AiFeedbackTrigger.java
  be/src/main/java/site/okkul/be/domain/practice/service/PracticeService.java
  be/src/main/java/site/okkul/be/global/config/SwaggerConfig.java
  be/src/main/java/site/okkul/be/infra/ai/AiClientConfig.java
  be/src/main/java/site/okkul/be/infra/ai/AiClientProvider.java
  be/src/main/java/site/okkul/be/infra/ai/DevAiClientProvider.java
  be/src/main/java/site/okkul/be/infra/ai/FakeAiClient.java
  be/src/main/java/site/okkul/be/infra/ai/ProdAiClientProvider.java
Due: deploy-be

[FE] 피드백페이지 수정
  fe/src/api/Practices.ts
  fe/src/api/data-contracts.ts
  fe/src/views/exam/ExamView.vue
  fe/src/views/feedback/FeedbackListView.vue
  fe/src/views/practice/PracticeQuestionView.vue
Due: build-fe

[BE] fix: 빌드 배포 실패 해결
  be/src/test/java/site/okkul/be/domain/exam/controller/ExamControllerTest.java
  be/src/test/java/site/okkul/be/domain/practice/service/PracticeServiceIntegrationTest.java
  be/src/test/java/site/okkul/be/infra/ai/AiClientIntegrationTest.java
Due: deploy-be

[FE] 디자인 리팩토링
  fe/src/assets/global-styles.css
  fe/src/components/common/Navbar.vue
  fe/src/components/common/SurveySelectModal.vue
  fe/src/views/auth/LoginView.vue
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/exam/ExamView.vue
  fe/src/views/exam/SetupView.vue
  fe/src/views/feedback/ExamFeedbackView.vue
  fe/src/views/feedback/FeedbackListView.vue
  fe/src/views/feedback/PracticeFeedbackView.vue
  fe/src/views/main/HomeView.vue
  fe/src/views/mypage/MyPageView.vue
  fe/src/views/practice/PracticeQuestionView.vue
  fe/src/views/practice/PracticeView.vue
  fe/src/views/survey/SurveyLevelView.vue
  fe/src/views/survey/SurveyView.vue
Due: build-fe

[BE] feat: 유형별 연습 히스토리 API 구현
  be/src/main/java/site/okkul/be/domain/history/controller/HistoryController.java
  be/src/main/java/site/okkul/be/domain/history/dto/PracticeAiFeedback.java
  be/src/main/java/site/okkul/be/domain/history/dto/PracticeAnswer.java
  be/src/main/java/site/okkul/be/domain/history/dto/PracticeCycleDetail.java
  be/src/main/java/site/okkul/be/domain/history/dto/PracticeHistoryDetailResponse.java
  be/src/main/java/site/okkul/be/domain/history/dto/PracticeHistorySummary.java
  be/src/main/java/site/okkul/be/domain/history/dto/PracticeQuestionDetail.java
  be/src/main/java/site/okkul/be/domain/history/dto/PracticeSentenceFeedbackResponse.java
  be/src/main/java/site/okkul/be/domain/history/service/HistoryService.java
  be/src/main/java/site/okkul/be/domain/practice/repository/PracticeAnswerJpaRepository.java
  be/src/main/java/site/okkul/be/domain/practice/repository/PracticeJpaRepository.java
  be/src/main/resources/application.yml
Due: deploy-be

[AI] fix: modify feedback API
  ai/feedback/__pycache__/exam_feedback.cpython-312.pyc
  ai/feedback/__pycache__/main.cpython-312.pyc
  ai/feedback/__pycache__/question_feedback.cpython-312.pyc
  ai/feedback/exam_feedback.py
  ai/feedback/exam_feedback_test.py
  ai/feedback/main.py
  ai/feedback/total_feedback.py
  ai/feedback/total_feedback_test.py
Due: build-ai

[AI] fix: API 에러 수정
  ai/feedback/__pycache__/main.cpython-312.pyc
  ai/feedback/__pycache__/total_feedback.cpython-312.pyc
  ai/feedback/main.py
Due: build-ai

[AI] fix: API 프롬프트 수정
  ai/feedback/__pycache__/total_feedback.cpython-312.pyc
  ai/feedback/total_feedback.py
Due: build-ai

[AI] fix: API 프롬프트 수정
  ai/feedback/__pycache__/exam_feedback.cpython-312.pyc
  ai/feedback/__pycache__/total_feedback.cpython-312.pyc
  ai/feedback/exam_feedback.py
Due: build-ai

[FE] design: 디자인 리팩토링
  fe/.env.cicd
  fe/.env.develop
  fe/.env.master
  fe/package.json
  fe/public/okkul_logo.png
  fe/src/components/common/Navbar.vue
  fe/src/views/exam/ExamView.vue
  fe/src/views/feedback/FeedbackListView.vue
  fe/src/views/main/HomeView.vue
  fe/src/views/practice/PracticeView.vue
Due: build-fe

[FE] fix: profile명 수정
  fe/package.json
Due: build-fe

[FE] feat: UI 디자인 수정
  fe/.agent/skills/frontend-design/LICENSE.txt
  fe/.agent/skills/frontend-design/SKILL.md
  fe/.agents/skills/frontend-design/LICENSE.txt
  fe/.agents/skills/frontend-design/SKILL.md
  fe/.claude/skills/frontend-design/LICENSE.txt
  fe/.claude/skills/frontend-design/SKILL.md
  fe/.gemini/skills/frontend-design/LICENSE.txt
  fe/.gemini/skills/frontend-design/SKILL.md
  fe/src/assets/global-styles.css
  fe/src/components/common/Navbar.vue
  fe/src/components/common/SurveySelectModal.vue
  fe/src/views/auth/LoginView.vue
  fe/src/views/exam/ExamView.vue
  fe/src/views/feedback/ExamFeedbackView.vue
  fe/src/views/feedback/FeedbackListView.vue
  fe/src/views/feedback/PracticeFeedbackView.vue
  fe/src/views/main/HomeView.vue
  fe/src/views/practice/PracticeView.vue
Due: build-fe

[FE] UI 디자인 수정
  fe/src/views/feedback/FeedbackListView.vue
Due: build-fe

[FE] ci: 배포 프로필 적용
  .gitlab-ci.yml
  fe/Dockerfile
Due: build-fe

[FE] feat: api generate
  fe/package-lock.json
  fe/src/api/Exam.ts
  fe/src/api/History.ts
  fe/src/api/Practices.ts
  fe/src/api/QuestionTypes.ts
  fe/src/api/data-contracts.ts
  fe/src/views/practice/PracticeQuestionView.vue
Due: build-fe

[AI] fix: modify UI design
  fe/src/assets/global-styles.css
  fe/src/views/exam/ExamView.vue
  fe/src/views/feedback/FeedbackListView.vue
  fe/src/views/main/HomeView.vue
  fe/src/views/mypage/MyPageView.vue
  fe/src/views/practice/PracticeView.vue
Due: build-fe

[FE] feat: X-Use-Real-AI 헤더 추가 (일단 주석 처리)
  fe/src/views/practice/PracticeQuestionView.vue
Due: build-fe

[FE] feat: AI 분석 실패시 에러 처리
  fe/src/views/practice/PracticeQuestionView.vue
Due: build-fe

[FE] feat: 종합피드백 3가지 필드로 나누고 AI개선답변도 화면에 추가
  fe/src/views/practice/PracticeQuestionView.vue
Due: build-fe

[FE] fix:API 연동 및 디자인 수정
  fe/index.html
  fe/src/views/exam/ExamView.vue
  fe/src/views/exam/SetupView.vue
Due: build-fe

[FE] feat: 모의고사 API 연동
  fe/index.html
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/exam/SetupView.vue
  fe/src/views/survey/SurveyLevelView.vue
  fe/src/views/survey/SurveyView.vue
Due: build-fe

[BE] fix: surveyMapper 에서 잘못 매핑된 부분 수정
  be/src/main/java/site/okkul/be/domain/survey/mapper/SurveyMapper.java
Due: deploy-be

[FE] feat: 추천 설문 기능 추가
  fe/index.html
  fe/src/components/common/SurveySelectModal.vue
  fe/src/views/exam/ExamView.vue
  fe/src/views/practice/PracticeView.vue
  fe/src/views/survey/SurveyLevelView.vue
  fe/src/views/survey/SurveyView.vue
Due: build-fe

[BE] feat: 엑추에이터 추가
  be/build.gradle
  be/src/main/resources/application.yml
Due: deploy-be

[FE] fix:설문조사 오류 수정
  fe/src/App.vue
  fe/src/components/common/Navbar.vue
  fe/src/components/common/SurveySelectModal.vue
  fe/src/stores/survey.js
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/survey/SurveyLevelView.vue
  fe/src/views/survey/SurveyView.vue
Due: build-fe

[FE] fix: /feedback, /practice 변경
  fe/src/views/feedback/FeedbackListView.vue
  fe/src/views/feedback/PracticeFeedbackView.vue
  fe/src/views/practice/PracticeQuestionView.vue
  fe/src/views/practice/PracticeView.vue
Due: build-fe

[FE] fix: 전체 디자인 수정
  fe/src/views/exam/ExamView.vue
  fe/src/views/feedback/FeedbackListView.vue
  fe/src/views/main/HomeView.vue
  fe/src/views/practice/PracticeView.vue
Due: build-fe

[BE] feat: 5XX 에러 웹훅 알림 기능 (MM)
  be/src/main/java/site/okkul/be/domain/auth/domain/AuthErrorCode.java
  be/src/main/java/site/okkul/be/domain/auth/service/AuthService.java
  be/src/main/java/site/okkul/be/global/exception/BusinessException.java
  be/src/main/java/site/okkul/be/global/exception/ErrorCode.java
  be/src/main/java/site/okkul/be/global/exception/ErrorResponse.java
  be/src/main/java/site/okkul/be/global/exception/GlobalErrorCode.java
  be/src/main/java/site/okkul/be/global/exception/GlobalExceptionHandler.java
  be/src/main/java/site/okkul/be/infra/alarm/AlarmService.java
  be/src/main/java/site/okkul/be/infra/alarm/MattermostAlarmService.java
  be/src/main/resources/application.yml
  be/src/main/resources/static/favicon.ico
Due: deploy-be

[BE] feat: flyway 적용
  be/build.gradle
  be/src/main/resources/application.yml
  be/src/main/resources/db/migration/common/V1__create_initial_table.sql
  be/src/main/resources/db/migration/local/V1000__insert_local_data.sql
Due: deploy-be

[FE] fix: 디자인 변경2
  fe/src/assets/global-styles.css
  fe/src/views/exam/ExamView.vue
  fe/src/views/feedback/FeedbackListView.vue
  fe/src/views/main/HomeView.vue
  fe/src/views/practice/PracticeView.vue
Due: build-fe

[BE] fix : flyway sql 파일 및 테스트 프로필 수정
  be/src/main/resources/db/migration/common/V1__create_initial_table.sql
  be/src/test/java/site/okkul/be/domain/qustion/controller/QuestionControllerTest.java
  be/src/test/java/site/okkul/be/domain/qustion/controller/QuestionSetControllerTest.java
Due: deploy-be

Path conditions:
  deploy-be: any of: be/**/*
  build-fe: any of: fe/**/*
  build-ai: any of: ai/**/*
