Repository jieulkim/okkul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-be, build-fe, build-ai

deploy-be:
  stage: build
  image: eclipse-temurin:21-jdk-alpine
  tags:
  - aws-ec2
  before_script:
  - apk update
  - apk add --no-cache docker docker-cli-compose
  - chmod +x be/gradlew
  script:
  - echo "Backend ì´ë¯¸ì§€ ë¹Œë“œ..."
  - cd be
  - ./gradlew test
  ...

build-fe:
  stage: build
  image: docker:26-cli
  tags:
  - aws-ec2
  script:
  - echo "âš›ï¸ Frontend ë¹Œë“œ ì‹œì‘..."
  - cd fe
  - docker build -t frontend:$CI_COMMIT_REF_SLUG .

build-ai:
  stage: build
  image: docker:26-cli
  tags:
  - aws-ec2
  script:
  - echo "ğŸ¤– AI Server ë¹Œë“œ ì‹œì‘..."
  - docker build -t ai:$CI_COMMIT_REF_SLUG ./ai

Revert "[BE] fix: 테스트 코드 수정"
  be/src/test/java/site/okkul/be/domain/exam/controller/ExamControllerTest.java
  be/src/test/java/site/okkul/be/domain/question/controller/QuestionControllerTest.java
  be/src/test/java/site/okkul/be/domain/question/controller/QuestionSetControllerTest.java
Due: deploy-be

[BE] fix: 로컬 데이터 sql 삭제
  be/src/main/resources/application.yml
  be/src/main/resources/db/migration/local/V1000__insert_local_data.sql
Due: deploy-be

[FE] design: 문구 하이라이트 추가
  fe/src/views/exam/ExamView.vue
  fe/src/views/feedback/FeedbackListView.vue
  fe/src/views/practice/PracticeView.vue
Due: build-fe

[FE] design: 로그아웃시 홈 화면 디자인 수정
  fe/src/views/main/HomeView.vue
Due: build-fe

[BE] test: 테스트 코드 수정
  be/src/main/resources/db/migration/common/V4__topic_data.sql
  be/src/test/java/site/okkul/be/domain/exam/controller/ExamControllerTest.java
Due: deploy-be

[FE] feature: 회원가입시 닉네임, 목표등급 설정 추가
  fe/src/App.vue
  fe/src/router/index.js
  fe/src/views/auth/LevelSettingView.vue
  fe/src/views/auth/LoginView.vue
  fe/src/views/auth/OAuth2Redirect.vue
Due: build-fe

[FE] fix: 로그인 연결 수정
  fe/src/App.vue
  fe/src/stores/auth.js
  fe/src/views/auth/LevelSettingView.vue
  fe/src/views/auth/OAuth2Redirect.vue
Due: build-fe

[BE] fix: 모의고사 피드백 버그 수정 (DB스키마 수정 및 로직 수정)
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/docs/ExamControllerDocs.java
  be/src/main/java/site/okkul/be/domain/exam/dto/request/ExamCreateRequest.java
  be/src/main/java/site/okkul/be/domain/exam/entity/Exam.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamAnswer.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamAnswerFeedback.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamAnswerScore.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamReport.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamSentenceFeedback.java
  be/src/main/java/site/okkul/be/domain/exam/exception/ExamErrorCode.java
  be/src/main/java/site/okkul/be/domain/exam/repository/ExamAnswerJpaRepository.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
  be/src/main/java/site/okkul/be/domain/history/dto/ExamAnswerResponse.java
  be/src/main/java/site/okkul/be/domain/practice/controller/PracticeController.java
  be/src/main/java/site/okkul/be/domain/practice/docs/PracticeControllerDocs.java
  be/src/main/java/site/okkul/be/domain/practice/entity/Practice.java
  be/src/main/java/site/okkul/be/domain/practice/service/PracticeService.java
  be/src/main/java/site/okkul/be/domain/question/entity/QuestionSet.java
  be/src/main/java/site/okkul/be/domain/question/repository/QuestionSetRepository.java
  be/src/main/java/site/okkul/be/global/config/SwaggerConfig.java
  be/src/main/java/site/okkul/be/infra/ai/AiClient.java
  be/src/main/java/site/okkul/be/infra/ai/FakeAiClient.java
  be/src/main/java/site/okkul/be/infra/ai/dto/exam/AnswerSummaryDto.java
  be/src/main/java/site/okkul/be/infra/ai/dto/exam/ExamTotalAnalysisResponse.java
  be/src/main/java/site/okkul/be/infra/ai/dto/exam/ExamTotalRequest.java
  be/src/main/java/site/okkul/be/infra/ai/dto/exam/QuestionAnalysisRequest.java
  be/src/main/java/site/okkul/be/infra/ai/dto/exam/QuestionAnalysisResponse.java
  be/src/main/java/site/okkul/be/infra/ai/dto/exam/SentenceFeedbackDto.java
  be/src/main/java/site/okkul/be/infra/alarm/AlarmService.java
  be/src/main/java/site/okkul/be/infra/alarm/MattermostAlarmService.java
  be/src/main/java/site/okkul/be/infra/alarm/MockAlarmService.java
  be/src/main/resources/db/migration/common/V5__create_exam_question_table.sql
  be/src/test/java/site/okkul/be/domain/exam/controller/ExamControllerTest.java
  be/src/test/java/site/okkul/be/domain/practice/controller/PracticeControllerTest.java
  be/src/test/java/site/okkul/be/domain/practice/service/PracticeServiceIntegrationTest.java
Due: deploy-be

[FE] design: 회원가입 레벨선택화면 수정
  fe/src/views/auth/LevelSettingView.vue
Due: build-fe

[FE] fix: 모의고사피드백 개별 문항 null도 보이게 하기
  fe/src/views/feedback/ExamQuestionFeedbackView.vue
Due: build-fe

[FE] fix: 모의고사피드백 개별문항 백엔드 null에러 제외하고 보이게 수정
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/feedback/ExamQuestionFeedbackView.vue
Due: build-fe

[FE] feat: 유저 피드백 받는 텍스트 창 추가
  fe/.gitignore
  fe/Dockerfile
  fe/package-lock.json
  fe/package.json
  fe/src/App.vue
  fe/src/components/common/FeedbackFAB.vue
  fe/src/components/common/FeedbackForm.vue
  fe/src/firebaseConfig.js
  fe/src/views/main/HomeView.vue
Due: build-fe

[FE] fix: gitlab-ci에 firebase 환경변수 주입
  .gitlab-ci.yml
Due: none

[FE] design: 피드백 디자인 수정
  fe/src/api/Exam.ts
  fe/src/api/data-contracts.ts
  fe/src/views/feedback/ExamQuestionFeedbackView.vue
  fe/src/views/feedback/PracticeFeedbackView.vue
Due: build-fe

[FE] build: 재빌드 및 배포
  fe/README.md
Due: build-fe

[FE] fix: ci yml 문법 수정
  .gitlab-ci.yml
Due: none

[FE] fix: rebuild 시도
  fe/src/firebaseConfig.js
Due: build-fe

[FE] fix: ci 줄바꿈 수정 후 재빌드
  .gitlab-ci.yml
  fe/src/firebaseConfig.js
Due: build-fe

feat: SystemException 생성 (관리자에게 알림감)
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
  be/src/main/java/site/okkul/be/global/exception/GlobalExceptionHandler.java
  be/src/main/java/site/okkul/be/global/exception/SystemException.java
  be/src/main/java/site/okkul/be/infra/alarm/AlarmService.java
  be/src/main/java/site/okkul/be/infra/alarm/MattermostAlarmService.java
  be/src/main/java/site/okkul/be/infra/alarm/MockAlarmService.java
Due: deploy-be

[FE] feat: 유저 피드백 기능, 디자인 수정
  fe/src/App.vue
  fe/src/components/common/FeedbackFAB.vue
  fe/src/components/common/FeedbackForm.vue
Due: build-fe

[FE] fix: firebase 변수 주입 수정
  .gitlab-ci.yml
  docker-compose.yaml
  fe/Dockerfile
  fe/README.md
  fe/src/App.vue
  fe/src/firebaseConfig.js
Due: build-fe

[FE] design: 유형 페이지 디자인 수정
  fe/src/views/practice/PracticeQuestionView.vue
  fe/src/views/practice/PracticeView.vue
Due: build-fe

[BE] fix: 문제 구성 잘못된 부분 수정
  be/src/main/java/site/okkul/be/domain/exam/service/ExamLevelDesign.java
Due: deploy-be

[BE] feat: Exam, ExamAnswer Status 추가
  be/build.gradle
  be/src/main/java/site/okkul/be/domain/exam/entity/AnswerStatus.java
  be/src/main/java/site/okkul/be/domain/exam/entity/Exam.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamAnswer.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamStatus.java
  be/src/main/java/site/okkul/be/domain/exam/exception/ExamErrorCode.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
  be/src/main/java/site/okkul/be/global/config/AsyncConfig.java
  be/src/main/java/site/okkul/be/infra/ai/AiClient.java
  be/src/main/java/site/okkul/be/infra/ai/FakeAiClient.java
  be/src/main/resources/db/migration/common/V6__add_status_to_exam.sql
Due: deploy-be

[BE] feat: 설문조사 조회시 최신 3개를 반환
  be/src/main/java/site/okkul/be/domain/survey/repository/SurveyJpaRepository.java
  be/src/main/java/site/okkul/be/domain/survey/service/SurveyService.java
Due: deploy-be

[FE] fix: 모의고사 페이지 문제 번호 오류 수정
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/exam/SetupView.vue
Due: build-fe

[AI] data: dataset,음성변환,sql변환,프롬프트
  .gitignore
  ai/opic-agent/convert_audio.py
  ai/opic-agent/export.py
  ai/opic-agent/final_question_bank.sql
  ai/opic-agent/final_question_set.sql
  ai/opic-agent/prompts.py
Due: build-ai

[FE] fix: 설문모달 3개만 뜨게 수정
  fe/src/components/common/SurveySelectModal.vue
  fe/src/stores/survey.js
  fe/src/views/exam/ExamView.vue
  fe/src/views/practice/PracticeView.vue
Due: build-fe

[BE] fix: exam 반환값 수정
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/ExamDetailResponse.java
  be/src/main/java/site/okkul/be/domain/question/dto/ExamQuestionResponse.java
Due: deploy-be

[FE] fix: 회원가입시 레벨선택 2번 나오는 이슈 수정
  fe/src/App.vue
  fe/src/router/index.js
  fe/src/stores/auth.js
  fe/src/views/auth/LevelSettingView.vue
  fe/src/views/auth/OAuth2Redirect.vue
Due: build-fe

[BE] fix: exam answer status 미반영 수정
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamAnswer.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
Due: deploy-be

[BE] fix: Exam, Exam Answer 서비스 분리
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamAnswerService.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
Due: deploy-be

[BE] fix: 불필요한 스키마 삭제
  be/src/main/resources/db/migration/common/V6__add_status_to_exam.sql
Due: deploy-be

[FE] fix: stt 변환 및 모의고사 중간 나기가 처리 + firebase env 처리
  fe/src/components/common/FeedbackForm.vue
  fe/src/views/exam/ExamQuestionView.vue
Due: build-fe

[BE] test: 테스트코드 수정
  be/src/test/java/site/okkul/be/domain/exam/controller/ExamControllerTest.java
Due: deploy-be

[BE] fix: 모의고사 히스토리 응답 오류 해결
  be/src/main/java/site/okkul/be/domain/history/controller/HistoryController.java
  be/src/main/java/site/okkul/be/domain/history/dto/ExamAnswerResponse.java
Due: deploy-be

[[FE] feat: 유형별 피드백 답변 여러개 한꺼번에 저장 기능 추가
  fe/src/views/feedback/ExamFeedbackView.vue
  fe/src/views/feedback/FeedbackListView.vue
  fe/src/views/feedback/PracticeFeedbackView.vue
Due: build-fe

[FE] fix: 유형피드백 API 연동 수정
  fe/src/api/data-contracts.ts
  fe/src/views/feedback/PracticeFeedbackView.vue
Due: build-fe

[FE] fix: 모의고사 페이지 수정
  fe/src/views/exam/ExamView.vue
Due: build-fe

Path conditions:
  deploy-be: any of: be/**/*
  build-fe: any of: fe/**/*
  build-ai: any of: ai/**/*
