Repository jieulkim/okkul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-be, build-fe, build-ai

deploy-be:
  stage: build
  image: eclipse-temurin:21-jdk-alpine
  tags:
  - aws-ec2
  before_script:
  - apk update
  - apk add --no-cache docker docker-cli-compose
  - chmod +x be/gradlew
  script:
  - echo "Backend ì´ë¯¸ì§€ ë¹Œë“œ..."
  - cd be
  - ./gradlew test
  ...

build-fe:
  stage: build
  image: docker:26-cli
  tags:
  - aws-ec2
  script:
  - echo "âš›ï¸ Frontend ë¹Œë“œ ì‹œì‘..."
  - cd fe
  - docker build -t frontend:$CI_COMMIT_REF_SLUG .

build-ai:
  stage: build
  image: docker:26-cli
  tags:
  - aws-ec2
  script:
  - echo "ğŸ¤– AI Server ë¹Œë“œ ì‹œì‘..."
  - docker build -t ai:$CI_COMMIT_REF_SLUG ./ai

[FE] fix: 피드백 제목 형식 수정
  fe/src/views/feedback/ExamFeedbackView.vue
  fe/src/views/feedback/PracticeFeedbackView.vue
  fe/src/views/mypage/MyPageView.vue
Due: build-fe

[FE] fix: 피드백리스트페이지 수정
  fe/src/views/feedback/FeedbackListView.vue
Due: build-fe

[FE] feat: 실시간 소음모드 버튼 추가
  fe/src/views/exam/SetupView.vue
Due: build-fe

[FE] design: 소음모드 버튼, 시간 디자인 수정
  fe/src/views/exam/ExamQuestionView.vue
Due: build-fe

[FE] feat: ai header 추가
  fe/src/api/http-client.ts
  fe/src/api/index.js
  fe/src/views/practice/PracticeQuestionView.vue
Due: build-fe

[FE] feat: ga tag 설정 및 환경에 따라 분기
  fe/index.html
  fe/src/main.js
Due: build-fe

[FE] fix: 오디오 물림현상, 텍스트 접기 디폴트, 자기소개 문제 오류 추가
  fe/src/views/practice/PracticeQuestionView.vue
Due: build-fe

[BE] fix: 모의고사 문항별 세부 피드백에 누락된 점수 필드 추가
  be/src/main/java/site/okkul/be/domain/history/dto/ExamAnswerResponse.java
Due: deploy-be

[BE] feat: AI 피드백 재 생성 기능
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/docs/ExamControllerDocs.java
  be/src/main/java/site/okkul/be/domain/exam/exception/ExamErrorCode.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamAnswerService.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
  be/src/main/java/site/okkul/be/global/config/AsyncConfig.java
  be/src/main/java/site/okkul/be/infra/ai/FakeAiClient.java
Due: deploy-be

[FE] fix: 문항별 점수 불러오기
  fe/src/api/data-contracts.ts
  fe/src/views/feedback/ExamFeedbackView.vue
Due: build-fe

[BE] fix: 종료안된 모의고사 조회되지 않음
  be/src/main/java/site/okkul/be/domain/exam/repository/ExamJpaRepository.java
  be/src/main/java/site/okkul/be/domain/history/service/HistoryService.java
Due: deploy-be

[FE] refactor: 설문 선택 모달 텍스트 수정
  fe/src/components/common/SurveySelectModal.vue
Due: build-fe

[BE] fix: 레벨 1,2는 12문제이다 잊지말자
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/docs/ExamControllerDocs.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/ExamDetailResponse.java
  be/src/main/java/site/okkul/be/domain/exam/exception/ExamErrorCode.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
Due: deploy-be

[FE] fix: 난이도 재조정 오류 수정 & 난이도 별 문제 수 오류 수정
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/exam/SetupView.vue
Due: build-fe

[FE] fix: 이어하기 답변 하고 나가면 다음 문항으로 넘어가는 기능 추가
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/exam/ExamView.vue
Due: build-fe

Delete exec directory
  exec/okkul_prod_dump.backup
  exec/오꿀 시연 시나리오.pdf
  exec/포팅매뉴얼.pdf
Due: none

Path conditions:
  deploy-be: any of: be/**/*
  build-fe: any of: fe/**/*
  build-ai: any of: ai/**/*
