Repository jieulkim/okkul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-be, build-fe

.gitlab-ci.yml:

stages:
  - build
  - deploy

# [BE ë¹Œë“œ] - Java í™˜ê²½ í•„ìš”
deploy-be:
  stage: build
  image: eclipse-temurin:21-jdk-alpine

  tags:
    - aws-ec2
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "cicd"'
      changes:
        - be/**/*

  before_script:
    - apk update
    - apk add --no-cache docker docker-cli-compose
    - chmod +x be/gradlew
  
  script:
    - echo "Backend ì´ë¯¸ì§€ ë¹Œë“œ..."
    - cd be
    - ./gradlew test
    - ./gradlew bootBuildImage -x test

# [FE ë¹Œë“œ] - Docker í™˜ê²½ì´ë©´ ì¶©ë¶„
build-fe:
  stage: build
  image: docker:26-cli
  tags:
    - aws-ec2
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "cicd"'
      changes:
        - fe/**/* # FE í´ë”ê°€ ë³€í–ˆì„ ë•Œë§Œ ì‹¤í–‰
  script:
    - echo "âš›ï¸ Frontend ë¹Œë“œ ì‹œì‘..."
    - cd fe
    - docker build -t frontend:latest .

# --------------------------------------------------------------------------
# 2. í†µí•© ë°°í¬ ìŠ¤í…Œì´ì§€ (í•­ìƒ ì‹¤í–‰)
# --------------------------------------------------------------------------
deploy-all:
  stage: deploy
  image: docker:stable
  tags:
    - aws-ec2
  # ë°°í¬ëŠ” ì–´ëŠ í•˜ë‚˜ë¼ë„ ë¹Œë“œê°€ ëŒì•˜ê±°ë‚˜, ìˆ˜ë™ ì‹¤í–‰ì¼ ë•Œ ëŒì•„ì•¼ í•¨
  # ì‚¬ì‹¤ìƒ ë©”ì¸ ë¸Œëœì¹˜ë©´ ë¬´ì¡°ê±´ ì²´í¬í•˜ëŠ” ê²Œ ì•ˆì „í•¨ (Composeê°€ ì•Œì•„ì„œ íŒë‹¨í•˜ë‹ˆê¹Œ)
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "cicd"'
  before_script:
    - apk update && apk add --no-cache docker-cli-compose
  script:
    - echo "ğŸš€ ì „ì²´ ì„œë¹„ìŠ¤ ë°°í¬(ì—…ë°ì´íŠ¸) ì‹œì‘..."
    
    # docker composeëŠ” ë°”ë€ ì´ë¯¸ì§€ë§Œ ê°ì§€í•´ì„œ í•´ë‹¹ ì»¨í…Œì´ë„ˆë§Œ ì¬ì‹œì‘í•©ë‹ˆë‹¤.
    # (ì£¼ì˜: --force-recreateë¥¼ ì“°ë©´ ë³€ê²½ ì—†ì–´ë„ ê°•ì œë¡œ ë‹¤ ê»ë‹¤ ì¼­ë‹ˆë‹¤. ìƒí™© ë´ì„œ ë¹¼ë„ ë©ë‹ˆë‹¤.)
    - docker compose up -d --remove-orphans
    
    # ì°Œêº¼ê¸° ì´ë¯¸ì§€ ì •ë¦¬
    - docker image prune -f

cicd: fix depoly job
  .gitlab-ci.yml
Due: none

cicd: remove port
  docker-compose.yaml
Due: none

feat: 홈화면&유형문제페이지
  fe/src/App.vue
  fe/src/components/common/Navbar.vue
  fe/src/router/index.js
  fe/src/views/main/HomeView.vue
  fe/src/views/mypage/MyPageView.vue
  fe/src/views/practice/PracticeView.vue
Due: build-fe

Update 19 files
  ai/STT/README.md
  ai/STT/__pycache__/transcribe.cpython-312.pyc
  ai/STT/outputs/광화문자생한방병원_1.srt
  ai/STT/outputs/광화문자생한방병원_1.txt
  ai/STT/outputs/안녕하세요.srt
  ai/STT/outputs/안녕하세요.txt
  ai/STT/requirements.txt
  ai/STT/transcribe.py
  ai/STT/web/COMPARISON.md
  ai/STT/web/README.md
  ai/STT/web/WHISPER_TIMING.md
  ai/STT/web/app.js
  ai/STT/web/index.html
  ai/STT/web/open-in-browser.bat
  ai/STT/web/start-server.bat
  ai/STT/web/start.bat
  ai/STT/web/styles.css
  ai/STT/광화문자생한방병원_1.mp3
  ai/STT/안녕하세요.m4a
Due: none

[AI] feat : STT 설정
  ai/STT/안녕하세요.m4a
Due: none

[BE, FE] cicd: 파이프라인 구축
  .gitkeep
  .gitlab-ci.yml
  be/build.gradle
  docker-compose.yaml
  fe/Dockerfile
  fe/default.conf
Due: deploy-be, build-fe

feature: 유형페이지 & 설문페이지
  fe/index.html
  fe/src/components/common/Navbar.vue
  fe/src/router/index.js
  fe/src/views/exam/ExamView.vue
  fe/src/views/practice/PracticeQuestionView.vue
  fe/src/views/practice/PracticeView.vue
  fe/src/views/survey/SurveyLevelView.vue
  fe/src/views/survey/SurveyView.vue
Due: build-fe

[AI] feat : a2a 설계
  ai/opic-agent/__pycache__/database.cpython-312.pyc
  ai/opic-agent/__pycache__/graph.cpython-312.pyc
  ai/opic-agent/__pycache__/prompts.cpython-312.pyc
  ai/opic-agent/__pycache__/schemas.cpython-312.pyc
  ai/opic-agent/database.py
  ai/opic-agent/graph.py
  ai/opic-agent/main.py
  ai/opic-agent/prompts.py
  ai/opic-agent/requirements.txt
  ai/opic-agent/schemas.py
Due: none

[BE] feat: 설문조사 API 스웨거 명세서 작성
  be/src/main/java/site/okkul/be/domain/practice/docs/PracticeControllerDocs.java
  be/src/main/java/site/okkul/be/domain/survey/controller/.gitkeep
  be/src/main/java/site/okkul/be/domain/survey/controller/SurveyController.java
  be/src/main/java/site/okkul/be/domain/survey/docs/SurveyControllerDocs.java
  be/src/main/java/site/okkul/be/domain/survey/dto/.gitkeep
  be/src/main/java/site/okkul/be/domain/survey/dto/request/SurveyCreateRequest.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/CategoryInfo.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/SelectedTopic.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/SurveyCategoryTopicResponse.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/SurveyCreateResponse.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/SurveyListResponse.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/SurveyResponse.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/SurveySummaryResponse.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/TopicInfo.java
Due: deploy-be

[BE] cicd: 프로필별 DB 연결 세팅
  .gitlab-ci.yml
  be/.gitignore
  be/build.gradle
  be/docker-compose.yaml
  be/src/main/resources/application.yml
  docker-compose.yaml
Due: deploy-be

feature: 설문페이지 & 모의고사페이지
  fe/src/router/index.js
  fe/src/views/exam/ExamView.vue
  fe/src/views/exam/SetupView.vue
  fe/src/views/survey/SurveyLevelView.vue
Due: build-fe

[BE] feat: 유저 엔티티 생성
  be/src/main/java/site/okkul/be/domain/user/entity/OAuthProvider.java
  be/src/main/java/site/okkul/be/domain/user/entity/OpicLevel.java
  be/src/main/java/site/okkul/be/domain/user/entity/User.java
  be/src/main/java/site/okkul/be/domain/user/entity/UserRole.java
  be/src/main/java/site/okkul/be/domain/user/repository/.gitkeep
  be/src/main/java/site/okkul/be/domain/user/repository/UserJpaRepository.java
Due: deploy-be

[BE] feat: 소셜로그인 기능 추가 (Google)
  be/build.gradle
  be/src/main/java/site/okkul/be/domain/auth/dto/GoogleOAuth2UserInfo.java
  be/src/main/java/site/okkul/be/domain/auth/dto/OAuth2SuccessHandler.java
  be/src/main/java/site/okkul/be/domain/auth/dto/OAuth2UserInfo.java
  be/src/main/java/site/okkul/be/domain/auth/dto/OAuthAttributes.java
  be/src/main/java/site/okkul/be/domain/auth/service/CustomOAuth2UserService.java
  be/src/main/java/site/okkul/be/domain/auth/service/SecurityConfig.java
  be/src/main/java/site/okkul/be/domain/user/entity/OAuthProvider.java
  be/src/main/java/site/okkul/be/domain/user/entity/User.java
  be/src/main/java/site/okkul/be/domain/user/entity/UserRole.java
  be/src/main/java/site/okkul/be/global/config/SwaggerConfig.java
  be/src/main/resources/application.yml
  docker-compose.yaml
Due: deploy-be

[BE] cicd: Swagger Servers http 스키마 수정
  be/src/main/resources/application.yml
Due: deploy-be

[BE] feat: JWT 발급 및 검증 기능
  be/build.gradle
  be/src/main/java/site/okkul/be/domain/auth/dto/JwtUserDetails.java
  be/src/main/java/site/okkul/be/domain/auth/dto/OAuth2SuccessHandler.java
  be/src/main/java/site/okkul/be/domain/auth/filter/JwtAuthenticationFilter.java
  be/src/main/java/site/okkul/be/domain/auth/service/JwtProvider.java
  be/src/main/java/site/okkul/be/domain/auth/service/JwtUserDetailsArgumentResolver.java
  be/src/main/java/site/okkul/be/domain/user/controller/.gitkeep
  be/src/main/java/site/okkul/be/domain/user/controller/UserController.java
  be/src/main/java/site/okkul/be/global/config/SecurityConfig.java
  be/src/main/java/site/okkul/be/global/config/SwaggerConfig.java
  be/src/main/java/site/okkul/be/global/config/WebMvcConfig.java
  be/src/main/resources/application.yml
Due: deploy-be

[BE] feat: User API 1차 구현
  be/src/main/java/site/okkul/be/domain/auth/dto/OAuth2SuccessHandler.java
  be/src/main/java/site/okkul/be/domain/user/controller/UserController.java
  be/src/main/java/site/okkul/be/domain/user/controller/UserControllerDocs.java
  be/src/main/java/site/okkul/be/domain/user/dto/.gitkeep
  be/src/main/java/site/okkul/be/domain/user/dto/request/UpdateNicknameRequest.java
  be/src/main/java/site/okkul/be/domain/user/dto/request/UpdateTargetLevelRequest.java
  be/src/main/java/site/okkul/be/domain/user/dto/response/UserResponse.java
  be/src/main/java/site/okkul/be/domain/user/entity/User.java
  be/src/main/java/site/okkul/be/domain/user/service/.gitkeep
  be/src/main/java/site/okkul/be/domain/user/service/UserService.java
  be/src/main/java/site/okkul/be/global/config/SwaggerConfig.java
Due: deploy-be

[AI] feat: AI 서버 docker 및 ci/cd 설정
  .gitignore
  .gitlab-ci.yml
  ai/Dockerfile
  docker-compose.yaml
Due: none

[AI] cicd: ai 컨테이너명 수정
  docker-compose.yaml
Due: none

[AI] fix: Dockerfile 빌드 수정 (의존성 누락)
  ai/Dockerfile
Due: none

[BE] fix: api 디자인 수정(/api/v1/제거)
  be/src/main/java/site/okkul/be/domain/user/controller/UserController.java
Due: deploy-be

[BE] feat: 모의고사 관련 API 명세 코드 추가
  be/src/main/java/site/okkul/be/domain/exam/.gitkeep
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/docs/ExamControllerDocs.java
  be/src/main/java/site/okkul/be/domain/exam/dto/CategoryScoresResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/ExamResultResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/ExamStartRequest.java
  be/src/main/java/site/okkul/be/domain/exam/dto/ExamStartResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/ExamStatusResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/ExamSummaryResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/FeedbackSetResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/QuestionResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/QuestionResultDetailResponse.java
Due: deploy-be

[BE] feat: Topic 엔티티 추가
  be/src/main/java/site/okkul/be/domain/topic/entity/Topic.java
  be/src/main/java/site/okkul/be/domain/topic/entity/TopicCategory.java
Due: deploy-be

[BE] feat: 유형별 연습 모드 생성 API 명세서
  be/src/main/java/site/okkul/be/domain/practice/.gitkeep
  be/src/main/java/site/okkul/be/domain/practice/controller/PracticeController.java
  be/src/main/java/site/okkul/be/domain/practice/docs/PracticeControllerDocs.java
  be/src/main/java/site/okkul/be/domain/practice/dto/response/PracticeStartResponse.java
Due: deploy-be

[BE] feat: 유형별 연습 모드 피드백 세션 저장 API 명세서
  be/src/main/java/site/okkul/be/domain/practice/controller/PracticeController.java
  be/src/main/java/site/okkul/be/domain/practice/docs/PracticeControllerDocs.java
  be/src/main/java/site/okkul/be/domain/practice/dto/request/PracticeFeedbackRequest.java
  be/src/main/java/site/okkul/be/domain/practice/dto/response/PracticeAIFeedbackResult.java
  be/src/main/java/site/okkul/be/domain/practice/dto/response/PracticeFeedbackResponse.java
  be/src/main/java/site/okkul/be/domain/practice/dto/response/ScriptCorrection.java
  be/src/main/java/site/okkul/be/global/config/SwaggerConfig.java
Due: deploy-be

[BE] feat: Qusetion 엔티티 추가
  be/src/main/java/site/okkul/be/domain/qustion/entity/Question.java
  be/src/main/java/site/okkul/be/domain/qustion/entity/QuestionSet.java
  be/src/main/java/site/okkul/be/domain/qustion/entity/QuestionType.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/TopicInfo.java
  be/src/main/java/site/okkul/be/domain/survey/entity/ClassType.java
  be/src/main/java/site/okkul/be/domain/survey/entity/OccupationType.java
  be/src/main/java/site/okkul/be/domain/survey/entity/ResidenceType.java
  be/src/main/java/site/okkul/be/domain/survey/entity/Survey.java
  be/src/main/java/site/okkul/be/domain/survey/entity/TeachingLevel.java
  be/src/main/java/site/okkul/be/domain/survey/entity/WorkPeriod.java
  be/src/main/resources/application.yml
  be/src/main/resources/data.sql
Due: deploy-be

[BE] feat: 유형별 연습 모드 피드백 세션 저장 API 명세서 - 질문 목록 DTO 수정 -
  be/src/main/java/site/okkul/be/domain/practice/controller/PracticeController.java
  be/src/main/java/site/okkul/be/domain/practice/dto/response/PracticeQuestion.java
  be/src/main/java/site/okkul/be/domain/practice/dto/response/PracticeStartResponse.java
Due: deploy-be

[BE] feat: 스웨거 SecurityRequirement 추가 및 주석 수정
  be/src/main/java/site/okkul/be/domain/practice/docs/PracticeControllerDocs.java
Due: deploy-be

[BE] reafactor: 스웨거 description 수정
  be/src/main/java/site/okkul/be/domain/practice/docs/PracticeControllerDocs.java
Due: deploy-be

[BE] feat: 유형별 연습 모드 문제 조회 API 명세서
  be/src/main/java/site/okkul/be/domain/practice/controller/PracticeController.java
  be/src/main/java/site/okkul/be/domain/practice/docs/PracticeControllerDocs.java
  be/src/main/java/site/okkul/be/domain/practice/dto/response/PracticeProblemResponse.java
  be/src/main/java/site/okkul/be/domain/practice/dto/response/PracticeStartResponse.java
Due: deploy-be

[BE] feat: 문제유형 CRUD 제작 (어드민용)
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionController.java
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionControllerDocs.java
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionSetController.java
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionSetControllerDocs.java
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionTypeController.java
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionTypeControllerDocs.java
  be/src/main/java/site/okkul/be/domain/qustion/dto/QuestionTypeRequest.java
  be/src/main/java/site/okkul/be/domain/qustion/entity/QuestionType.java
  be/src/main/java/site/okkul/be/domain/qustion/repository/QuestionRepository.java
  be/src/main/java/site/okkul/be/domain/qustion/repository/QuestionSetRepository.java
  be/src/main/java/site/okkul/be/domain/qustion/repository/QuestionTypeRepository.java
  be/src/main/java/site/okkul/be/domain/qustion/service/QuestionService.java
  be/src/main/java/site/okkul/be/domain/qustion/service/QuestionSetService.java
  be/src/main/java/site/okkul/be/domain/qustion/service/QuestionTypeService.java
  be/src/main/java/site/okkul/be/global/config/SecurityConfig.java
  be/src/main/java/site/okkul/be/global/config/SwaggerConfig.java
  be/src/main/resources/data.sql
Due: deploy-be

[BE] fix: 토픽 수정
  be/src/main/java/site/okkul/be/domain/qustion/entity/QuestionSet.java
  be/src/main/java/site/okkul/be/domain/survey/entity/ClassType.java
  be/src/main/java/site/okkul/be/domain/survey/entity/OccupationType.java
  be/src/main/java/site/okkul/be/domain/survey/entity/ResidenceType.java
  be/src/main/java/site/okkul/be/domain/survey/entity/Survey.java
  be/src/main/java/site/okkul/be/domain/survey/entity/TeachingLevel.java
  be/src/main/java/site/okkul/be/domain/survey/entity/WorkPeriod.java
Due: deploy-be

feature: 설문페이지 & 모의고사페이지_260126
  fe/package-lock.json
  fe/package.json
  fe/src/api/Exam.ts
  fe/src/api/Health.ts
  fe/src/api/Practices.ts
  fe/src/api/QuestionTypes.ts
  fe/src/api/Surveys.ts
  fe/src/api/Users.ts
  fe/src/api/data-contracts.ts
  fe/src/api/http-client.ts
  fe/src/components/common/SurveySelectModal.vue
  fe/src/router/index.js
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/exam/ExamView.vue
  fe/src/views/exam/SetupView.vue
  fe/src/views/practice/PracticeQuestionView.vue
  fe/src/views/practice/PracticeView.vue
  fe/src/views/survey/SurveyLevelView.vue
  fe/src/views/survey/SurveyView.vue
Due: build-fe

[BE] feat: 문제은행 기본 CRUD 제작
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionController.java
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionControllerDocs.java
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionSetController.java
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionSetControllerDocs.java
  be/src/main/java/site/okkul/be/domain/qustion/dto/QuestionDetailResponse.java
  be/src/main/java/site/okkul/be/domain/qustion/dto/QuestionRequest.java
  be/src/main/java/site/okkul/be/domain/qustion/dto/QuestionSetRequest.java
  be/src/main/java/site/okkul/be/domain/qustion/dto/QuestionSetResponse.java
  be/src/main/java/site/okkul/be/domain/qustion/dto/QuestionTypeRequest.java
  be/src/main/java/site/okkul/be/domain/qustion/entity/Question.java
  be/src/main/java/site/okkul/be/domain/qustion/entity/QuestionSet.java
  be/src/main/java/site/okkul/be/domain/qustion/service/QuestionService.java
  be/src/main/java/site/okkul/be/domain/qustion/service/QuestionSetService.java
  be/src/main/java/site/okkul/be/domain/topic/repository/TopicRepository.java
Due: deploy-be

[BE] test: 퀘스트 관련 API 테스트코드 작성
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionTypeController.java
  be/src/main/java/site/okkul/be/domain/qustion/dto/QuestionSetResponse.java
  be/src/main/java/site/okkul/be/domain/qustion/entity/Question.java
  be/src/main/java/site/okkul/be/domain/qustion/entity/QuestionSet.java
  be/src/main/java/site/okkul/be/domain/qustion/entity/QuestionType.java
  be/src/main/java/site/okkul/be/domain/qustion/service/QuestionTypeService.java
  be/src/main/resources/data.sql
  be/src/test/java/site/okkul/be/BeApplicationTests.java
  be/src/test/java/site/okkul/be/domain/qustion/controller/QuestionControllerTest.java
  be/src/test/java/site/okkul/be/domain/qustion/controller/QuestionSetControllerTest.java
  be/src/test/java/site/okkul/be/domain/qustion/controller/QuestionTypeControllerTest.java
Due: deploy-be

feature: 유형페이지
  fe/package-lock.json
  fe/package.json
  fe/src/api/http-client.ts
  fe/src/stores/survey.js
  fe/src/views/practice/PracticeQuestionView.vue
  fe/src/views/practice/PracticeView.vue
  fe/src/views/survey/SurveyLevelView.vue
  fe/src/views/survey/SurveyView.vue
  fe/vite.config.js
Due: build-fe

feature: 설문페이지
  fe/src/views/survey/SurveyLevelView.vue
  fe/src/views/survey/SurveyView.vue
Due: build-fe

feature: 설문페이지_수정
  fe/src/api/http-client.ts
  fe/src/views/survey/SurveyView.vue
Due: build-fe

feature: 로그인페이지
  fe/src/App.vue
  fe/src/components/common/Navbar.vue
  fe/src/router/index.js
  fe/src/stores/auth.js
  fe/src/views/auth/LoginView.vue
  fe/src/views/main/HomeView.vue
  fe/src/views/mypage/MyPageView.vue
Due: build-fe

feature:설문페이지수정
  fe/src/views/practice/PracticeView.vue
  fe/src/views/survey/SurveyView.vue
Due: build-fe

[BE] fix: cors 허용
  be/src/main/java/site/okkul/be/global/config/SecurityConfig.java
  be/src/main/java/site/okkul/be/global/config/WebMvcConfig.java
Due: deploy-be
