Repository jieulkim/okkul: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-be, build-fe, build-ai

deploy-be:
  stage: build
  image: eclipse-temurin:21-jdk-alpine
  tags:
  - aws-ec2
  before_script:
  - apk update
  - apk add --no-cache docker docker-cli-compose
  - chmod +x be/gradlew
  script:
  - echo "Backend ì´ë¯¸ì§€ ë¹Œë“œ..."
  - cd be
  - ./gradlew test
  ...

build-fe:
  stage: build
  image: docker:26-cli
  tags:
  - aws-ec2
  script:
  - echo "âš›ï¸ Frontend ë¹Œë“œ ì‹œì‘..."
  - cd fe
  - docker build -t frontend:$CI_COMMIT_REF_SLUG .

build-ai:
  stage: build
  image: docker:26-cli
  tags:
  - aws-ec2
  script:
  - echo "ğŸ¤– AI Server ë¹Œë“œ ì‹œì‘..."
  - docker build -t ai:$CI_COMMIT_REF_SLUG ./ai

feature: 로그인페이지 생성
  fe/src/router/index.js
  fe/src/views/auth/LoginView.vue
  fe/src/views/auth/OAuth2Redirect.vue
Due: build-fe

fix: fe CORS에러
  fe/src/components/common/Navbar.vue
  fe/src/router/index.js
  fe/src/stores/auth.js
  fe/src/utils/api.js
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/exam/ExamView.vue
  fe/src/views/practice/PracticeQuestionView.vue
  fe/src/views/practice/PracticeView.vue
  fe/src/views/survey/SurveyLevelView.vue
Due: build-fe

feature: 모의고사 페이지
  fe/src/router/index.js
  fe/src/views/exam/ExamQuestionView.vue
Due: build-fe

fix: [FE] 로그인에러 수정
  fe/src/utils/api.js
Due: build-fe

[BE] feat: Survey API 구현 및 리팩토링
  be/src/main/java/site/okkul/be/domain/practice/repository/.gitkeep
  be/src/main/java/site/okkul/be/domain/practice/service/.gitkeep
  be/src/main/java/site/okkul/be/domain/survey/controller/SurveyController.java
  be/src/main/java/site/okkul/be/domain/survey/docs/SurveyControllerDocs.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/CategoryInfo.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/SelectedTopic.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/SurveyCategoryTopicResponse.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/SurveyResponse.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/SurveySummaryResponse.java
  be/src/main/java/site/okkul/be/domain/survey/dto/response/TopicInfo.java
  be/src/main/java/site/okkul/be/domain/survey/entity/ClassType.java
  be/src/main/java/site/okkul/be/domain/survey/entity/OccupationType.java
  be/src/main/java/site/okkul/be/domain/survey/entity/ResidenceType.java
  be/src/main/java/site/okkul/be/domain/survey/entity/Survey.java
  be/src/main/java/site/okkul/be/domain/survey/entity/TeachingLevel.java
  be/src/main/java/site/okkul/be/domain/survey/entity/WorkPeriod.java
  be/src/main/java/site/okkul/be/domain/survey/mapper/SurveyMapper.java
  be/src/main/java/site/okkul/be/domain/survey/repository/SurveyJpaRepository.java
  be/src/main/java/site/okkul/be/domain/survey/service/SurveyService.java
  be/src/main/java/site/okkul/be/domain/topic/controller/TopicController.java
  be/src/main/java/site/okkul/be/domain/topic/docs/TopicControllerDocs.java
  be/src/main/java/site/okkul/be/domain/topic/repository/TopicJpaRepository.java
  be/src/main/java/site/okkul/be/domain/topic/response/CategoryInfo.java
  be/src/main/java/site/okkul/be/domain/topic/response/CategoryTopicResponse.java
  be/src/main/java/site/okkul/be/domain/topic/response/SelectedTopics.java
  be/src/main/java/site/okkul/be/domain/topic/response/TopicCategory.java
  be/src/main/java/site/okkul/be/domain/topic/response/TopicInfo.java
  be/src/main/java/site/okkul/be/domain/topic/service/TopicService.java
  be/src/main/java/site/okkul/be/global/config/SwaggerConfig.java
Due: deploy-be

[BE] feat: 모의고사 API 구현
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/docs/ExamControllerDocs.java
  be/src/main/java/site/okkul/be/domain/exam/entity/Analysis.java
  be/src/main/java/site/okkul/be/domain/exam/entity/AnswerStatus.java
  be/src/main/java/site/okkul/be/domain/exam/entity/Exam.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamAnswer.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamReport.java
  be/src/main/java/site/okkul/be/domain/exam/entity/TypeFeedback.java
  be/src/main/java/site/okkul/be/domain/exam/repository/ExamAnswerJpaRepository.java
  be/src/main/java/site/okkul/be/domain/exam/repository/ExamJpARepository.java
  be/src/main/java/site/okkul/be/domain/exam/repository/ExamReportJpaRepository.java
  be/src/main/java/site/okkul/be/domain/exam/repository/TypeFeedbackJpaRepository.java
  be/src/main/java/site/okkul/be/domain/exam/service/AiAnalysisService.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
  be/src/main/java/site/okkul/be/domain/qustion/repository/QuestionSetRepository.java
Due: deploy-be

[BE] feat: file storage 서비스 로직 초기 생성 및 설정
  be/build.gradle
  be/src/main/java/site/okkul/be/infra/storage/FileStorageService.java
  be/src/main/java/site/okkul/be/infra/storage/MinioConfig.java
  be/src/main/java/site/okkul/be/infra/storage/MinioFileStorageService.java
  be/src/main/resources/application.yml
Due: deploy-be

[AI] fix: A2A 데이터 생성 파이프라인 완료
  ai/opic-agent/__pycache__/database.cpython-312.pyc
  ai/opic-agent/__pycache__/graph.cpython-312.pyc
  ai/opic-agent/__pycache__/prompts.cpython-312.pyc
  ai/opic-agent/__pycache__/schemas.cpython-312.pyc
  ai/opic-agent/database.py
  ai/opic-agent/graph.py
  ai/opic-agent/main.py
  ai/opic-agent/prompts.py
  ai/opic-agent/schemas.py
Due: build-ai

[BE] fix: 유저 Credential 누락 수정
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/docs/ExamControllerDocs.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamReport.java
  be/src/main/java/site/okkul/be/domain/exam/entity/TypeFeedback.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
Due: deploy-be

[BE] ci: minio 배포 세팅
  be/src/main/resources/application.yml
  docker-compose.yaml
Due: deploy-be

fix: 설문페이지 & 유형 페이지 API 연동
  fe/src/App.vue
  fe/src/api/Surveys.ts
  fe/src/api/http-client.ts
  fe/src/components/common/Navbar.vue
  fe/src/components/common/SurveySelectModal.vue
  fe/src/router/index.js
  fe/src/stores/auth.js
  fe/src/stores/survey.js
  fe/src/utils/api.js
  fe/src/views/auth/LoginView.vue
  fe/src/views/auth/OAuth2Redirect.vue
  fe/src/views/exam/ExamView.vue
  fe/src/views/exam/SetupView.vue
  fe/src/views/main/HomeView.vue
  fe/src/views/practice/PracticeQuestionView.vue
  fe/src/views/practice/PracticeView.vue
  fe/src/views/survey/SurveyLevelView.vue
  fe/src/views/survey/SurveyView.vue
  fe/vite.config.js
Due: build-fe

[FE] fix:빌드테스트 오류
  fe/src/components/common/Navbar.vue
Due: build-fe

[FE] fix: 빌드테스트 오류 수정
  fe/src/views/main/HomeView.vue
Due: build-fe

[FE] fix: 머지오류
  fe/.gitignore
  fe/src/App.vue
  fe/src/components/common/Navbar.vue
  fe/src/router/index.js
  fe/src/stores/auth.js
  fe/src/utils/api.js
  fe/src/views/auth/LoginView.vue
  fe/src/views/auth/OAuth2Redirect.vue
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/exam/ExamView.vue
  fe/src/views/main/HomeView.vue
  fe/src/views/mypage/MyPageView.vue
  fe/src/views/practice/PracticeQuestionView.vue
  fe/src/views/practice/PracticeView.vue
  fe/src/views/survey/SurveyLevelView.vue
Due: build-fe

[AI] feat: feedback API
  ai/Dockerfile
  ai/TTS/chatterbox.py
  ai/TTS/output.mp3
  ai/TTS/test.py
  ai/TTS/광화문자생한방병원_1.mp3
  ai/feedback/__pycache__/main.cpython-312.pyc
  ai/feedback/main.py
  ai/feedback/requirements.txt
  ai/feedback/test.py
  ai/opic-agent/__pycache__/graph.cpython-312.pyc
  ai/opic-agent/__pycache__/prompts.cpython-312.pyc
  ai/opic-agent/graph.py
  docker-compose.yaml
Due: build-ai

[BE] fix: 모의고사 엔티티 수정
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/docs/ExamControllerDocs.java
  be/src/main/java/site/okkul/be/domain/exam/dto/ExamStartRequest.java
  be/src/main/java/site/okkul/be/domain/exam/entity/Analysis.java
  be/src/main/java/site/okkul/be/domain/exam/entity/Exam.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamAnswer.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamAnswerFeedback.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamAnswerScore.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamReport.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamSentenceFeedback.java
  be/src/main/java/site/okkul/be/domain/exam/entity/TypeFeedback.java
  be/src/main/java/site/okkul/be/domain/exam/repository/TypeFeedbackJpaRepository.java
  be/src/main/java/site/okkul/be/domain/exam/service/AiAnalysisService.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
  be/src/main/java/site/okkul/be/domain/qustion/repository/QuestionSetRepository.java
Due: deploy-be

[FE] feauture: 모의고사페이지
  fe/src/api/QuestionSets.ts
  fe/src/api/Surveys.ts
  fe/src/api/Topics.ts
  fe/src/api/data-contracts.ts
  fe/src/api/http-client.ts
  fe/src/api/index.js
  fe/src/components/common/SurveySelectModal.vue
  fe/src/stores/auth.js
  fe/src/utils/api.js
  fe/src/views/auth/LoginView.vue
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/exam/ExamView.vue
  fe/src/views/exam/SetupView.vue
  fe/src/views/practice/PracticeView.vue
  fe/src/views/survey/SurveyLevelView.vue
  fe/src/views/survey/SurveyView.vue
  fe/vite.config.js
Due: build-fe

[AI] cicd: 포트제거
  docker-compose.yaml
Due: none

[AI] fix: 도커 브릿지 네트워크 수정
  docker-compose.yaml
Due: none

[AI] fix: docker compose 파일 수정 (인덴트)
  docker-compose.yaml
Due: none

[AI] fix: prompt 수정
  ai/feedback/main.py
Due: build-ai

[FE] feature: 피드백페이지
  fe/src/router/index.js
  fe/src/views/feedback/ExamFeedbackView.vue
  fe/src/views/feedback/PracticeFeedbackView.vue
Due: build-fe

[BE] feat: 엑세스토큰 재발급 기능
  be/src/main/java/site/okkul/be/domain/auth/controller/AuthController.java
  be/src/main/java/site/okkul/be/domain/auth/dto/AccessTokenResponse.java
  be/src/main/java/site/okkul/be/domain/auth/dto/TokenReissueRequest.java
  be/src/main/java/site/okkul/be/domain/auth/service/AuthService.java
  be/src/main/java/site/okkul/be/global/config/SecurityConfig.java
Due: deploy-be

[BE] fix: 문제 유형 Enum 수정
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/docs/ExamControllerDocs.java
  be/src/main/java/site/okkul/be/domain/exam/dto/request/ExamStartRequest.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/CategoryScoresResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/ExamResultResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/ExamStartResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/ExamStatusResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/ExamSummaryResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/FeedbackSetResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/QuestionResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/QuestionResultDetailResponse.java
  be/src/main/java/site/okkul/be/domain/exam/entity/ExamAnswer.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
  be/src/main/java/site/okkul/be/domain/practice/dto/response/PracticeStartResponse.java
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionTypeController.java
  be/src/main/java/site/okkul/be/domain/qustion/controller/QuestionTypeControllerDocs.java
  be/src/main/java/site/okkul/be/domain/qustion/dto/QuestionTypeRequest.java
  be/src/main/java/site/okkul/be/domain/qustion/entity/QuestionSet.java
  be/src/main/java/site/okkul/be/domain/qustion/entity/QuestionType.java
  be/src/main/java/site/okkul/be/domain/qustion/repository/QuestionTypeRepository.java
  be/src/main/java/site/okkul/be/domain/qustion/service/QuestionSetService.java
  be/src/main/java/site/okkul/be/domain/qustion/service/QuestionTypeService.java
  be/src/main/java/site/okkul/be/domain/topic/entity/TopicCategory.java
  be/src/main/resources/application.yml
  be/src/main/resources/data.sql
  be/src/test/java/site/okkul/be/domain/qustion/controller/QuestionTypeControllerTest.java
Due: deploy-be

[BE] fix: hasJob 널 에러 수정
  be/src/main/java/site/okkul/be/domain/survey/mapper/SurveyMapper.java
Due: deploy-be

[BE] fix: hasJob 널 체크 로직 추가
  be/src/main/java/site/okkul/be/domain/survey/mapper/SurveyMapper.java
Due: deploy-be

[BE] fix: 문제 Set 추천 기능 수정
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/docs/ExamControllerDocs.java
  be/src/main/java/site/okkul/be/domain/exam/dto/request/ExamCreateRequest.java
  be/src/main/java/site/okkul/be/domain/exam/dto/request/ExamStartRequest.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/CategoryScoresResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/ExamDetailResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/ExamStartResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/ExamStatusResponse.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/QuestionResponse.java
  be/src/main/java/site/okkul/be/domain/exam/entity/Exam.java
  be/src/main/java/site/okkul/be/domain/exam/repository/ExamJpARepository.java
  be/src/main/java/site/okkul/be/domain/exam/repository/TypeFeedbackJpaRepository.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamLevelDesign.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
  be/src/main/java/site/okkul/be/domain/qustion/dto/ExamQuestionResponse.java
  be/src/main/java/site/okkul/be/domain/qustion/entity/QuestionSet.java
  be/src/main/java/site/okkul/be/domain/qustion/entity/converter/QuestionTypeConverter.java
  be/src/main/java/site/okkul/be/domain/qustion/repository/QuestionSetRepository.java
  be/src/main/java/site/okkul/be/domain/survey/repository/SurveyJpaRepository.java
Due: deploy-be

[FE] fix:설문페이지
  fe/.env.development
  fe/.env.production
  fe/package.json
  fe/src/api/Auth.ts
  fe/src/api/data-contracts.ts
  fe/src/api/index.js
  fe/src/components/common/SurveySelectModal.vue
  fe/src/stores/auth.js
  fe/src/stores/survey.js
  fe/src/utils/api.js
  fe/src/views/auth/OAuth2Redirect.vue
  fe/src/views/feedback/ExamFeedbackView.vue
  fe/src/views/practice/PracticeQuestionView.vue
  fe/src/views/practice/PracticeView.vue
  fe/vite.config.js
Due: build-fe

[BE} fix: 문제 리스트 조회 API 수정 (검증X)
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/docs/ExamControllerDocs.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
  be/src/main/java/site/okkul/be/global/config/AsyncConfig.java
Due: deploy-be

[FE]: feature: 마이페이지
  fe/public/default-profile.png
  fe/src/api/index.js
  fe/src/components/common/Navbar.vue
  fe/src/views/mypage/MyPageView.vue
Due: build-fe

[AI] fix: 피드백 API 한국어 스크립트 수정 및 프롬프트 고도화
  ai/feedback/__pycache__/main.cpython-312.pyc
  ai/feedback/main.py
Due: build-ai

[AI] fix: pydantic 모델 및 프롬프트 변경
  ai/feedback/main.py
Due: build-ai

[FE] 디자인 리팩토링
  fe/package-lock.json
  fe/package.json
  fe/public/default-profile.png
  fe/src/assets/global-styles.css
  fe/src/components/common/Navbar.vue
  fe/src/components/common/OkkulCharacter.vue
  fe/src/views/auth/LoginView.vue
  fe/src/views/auth/OAuth2Redirect.vue
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/exam/ExamView.vue
  fe/src/views/exam/SetupView.vue
  fe/src/views/main/HomeView.vue
  fe/src/views/mypage/MyPageView.vue
  fe/src/views/practice/PracticeQuestionView.vue
  fe/src/views/practice/PracticeView.vue
  fe/src/views/survey/SurveyLevelView.vue
  fe/src/views/survey/SurveyView.vue
Due: build-fe

[FE] 유형 녹음 로직 수정
  fe/src/views/practice/PracticeQuestionView.vue
Due: build-fe

[FE] feat:mock데이터 기반 개발
  fe/.env.mock
  fe/package-lock.json
  fe/package.json
  fe/src/stores/auth.js
  fe/src/views/auth/LoginView.vue
  fe/src/views/exam/ExamQuestionView.vue
  fe/src/views/exam/SetupView.vue
  fe/src/views/feedback/ExamFeedbackView.vue
  fe/src/views/main/HomeView.vue
  fe/src/views/survey/SurveyLevelView.vue
Due: build-fe

[FE] 전체 디자인 리팩토링
  fe/public/default-profile.png
  fe/public/okkul.svg
  fe/src/components/common/Navbar.vue
  fe/src/components/common/OkkulCharacter.vue
  fe/src/views/auth/LoginView.vue
  fe/src/views/main/HomeView.vue
  fe/src/views/mypage/MyPageView.vue
  fe/src/views/practice/PracticeQuestionView.vue
Due: build-fe

[FE] 전체 디자인 수정
  fe/src/assets/global-styles.css
  fe/src/components/common/Navbar.vue
Due: build-fe

[BE] fix: exam API 수정
  be/src/main/java/site/okkul/be/domain/exam/controller/ExamController.java
  be/src/main/java/site/okkul/be/domain/exam/docs/ExamControllerDocs.java
  be/src/main/java/site/okkul/be/domain/exam/dto/request/ExamCreateRequest.java
  be/src/main/java/site/okkul/be/domain/exam/dto/request/ExamQuestionAnswerRequest.java
  be/src/main/java/site/okkul/be/domain/exam/dto/response/ExamStatusResponse.java
  be/src/main/java/site/okkul/be/domain/exam/service/ExamService.java
  be/src/main/java/site/okkul/be/domain/survey/dto/request/SurveyCreateRequest.java
  be/src/main/java/site/okkul/be/global/config/GlobalExceptionHandler.java
  be/src/test/java/site/okkul/be/domain/exam/controller/ExamControllerTest.java
  be/src/test/java/site/okkul/be/domain/qustion/controller/QuestionControllerTest.java
  be/src/test/java/site/okkul/be/domain/qustion/controller/QuestionTypeControllerTest.java
Due: deploy-be

Path conditions:
  deploy-be: any of: be/**/*
  build-fe: any of: fe/**/*
  build-ai: any of: ai/**/*
